.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.header__menu {
  margin: 0 10px;
  
  @include tablets {
    display: none
  }
}

.header__gam-menu {
  display: none;
  
  @include tablets {
    display: block;
  }
}

.header__links {

  @include tablets {
    display: flex;
    .social {
      margin-right: 90px;
    }
  }
}