.reviews-slider {
  max-width: 1008px;
}

.reviews-slider__buttons {
  .slider-btn {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.revies-slider__list {
  display: flex;
  justify-content: space-between;
}

.reviews__slider-item {
  width: 50%;
}