.reviews {
  position: relative;
  margin-bottom: 145px;
  padding-top: 165px;
}

.reviews__title {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}

.reviews__title-text {
  margin-right: 120px;
}