.reviews-slider {
  max-width: 1008px;

  @include phones {
    overflow: hidden;
    max-width: 400px;
  }
}

.reviews-slider__buttons {
  .slider-btn {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.revies-slider__list {
  display: flex;
  justify-content: space-between;

  @include phones {
    overflow: hidden;
    justify-content: flex-start;
  }
}

.reviews__slider-item {
  width: 45%;
  flex-shrink: 0;
  
  @include phones {
    width: 100%;
  }
}