.user__avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.user__data {
  width: 100%;

  .user__data-row {
    td {
      padding-bottom: 15px;
    }
    &:last-child td {
        padding-bottom: 0;
      }
    }
}

.user__data-field {
  opacity: .3;
}


