include ./skill

script(type="text/x-template" id="skills-row")
  .skills-row
    h3.skills-row__title {{skills.title}}
    ul.skills-row__list
      li.skills-row__item(
        v-for="(skillPercent, skillName) in skills.skillGroup"
        :key="skillName"
      )
        skill(
          :name="skillName"
          :percent="skillPercent"
        )