include ./skills-list

section.skills(id="skills")
  .container.skills__container
    .skills__image
      +image('decor/bag.jpg', 'skills__image-pic')
    .skills__content
      .skills__title
        .skills__title-container
          h2.skills__title-text Чем я могу быть полезен вам
          .skills__title-content
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .skills__values
        #skills-component