section.contacts(id="contacts")
  .container.contacts__container
    h2.section__title.contacts__title Связаться со мной
    .contacts__form
      form
        .form__container
          .form__row
            - 
              var fields = [
                ["Введите ваше имя", "Иванов Иван", "user"],
                ["Введите ваш email", "example@mail.com", "envelope"]
              ]
            each field in fields
              label.form__block
                .form__block-label #{field[0]}
                .form__block-wrap
                  +icon(field[2],'form__block-icon')
                  .form__block-field
                    input(placeholder=field[1]).form__block-input
          .form__row.form__row--more-margin
            label.form__block
              .form__block-label Сообщение к письму
              .form__block-wrap.form__block-wrap--align-top
                +icon('message','form__block-icon')
                .form__block-field
                  textarea(placeholder="Требуется ваша помощь в создании сайта. \nИнтересуют сроки и цена вопроса" rows="3").form__block-input.form__block-textarea
          .form__row
            .form__buttons
              button(type="submit").custom-btn Отправить