section.hero.fullscreen-section(id="hero")
  .container.hero__container
    header.header
      .header__logo
        a.logo(href="#") MC
      .header__menu
        +menu
      .header__links
        +socials
        .header__gam-menu
          button(type="button").nav__btn
            +icon('menu', 'nav__icon')
    .hero__content
      .user-info
        h1.user-info__desc !{desc}
        .user-info__username #{username}
    .hero__btns
      a(href="#about").scroll-down Скролл