section.reviews(id="reviews")
  .container
    .reviews__title
      h2.section__title.reviews__title-text Что обо мне говорят
      .reviews-slider__buttons.slider-btns.slider-btns--rounded
        button(type="button").slider-btn.slider-btn--prev
          +icon('short-arrow', 'slider-btn__icon')
        button(type="button").slider-btn.slider-btn--next
          +icon('short-arrow', 'slider-btn__icon')
    .reviews-slider
      ul.revies-slider__list
        - for (var i = 0; i < 2; i++)
          li.reviews__slider-item
            .review
              .review__content
                .review__text
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nam inventore eveniet nulla quaerat accusantium ratione, assumenda itaque. Et veniam omnis fuga sint repellat quaerat alias eveniet nobis aliquam dolor.
                .review__author
                  .user.user--horizontal
                    .user__avatar
                      .avatar.avatar--small
                        +image('userfiles/user.jpg', 'avatar__img')
                    .user__data
                      .user__name Ковальчук Дмитрий
                      .user__desc Основатель Loftschool