include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section
        section.hero
          .container.hero__container
            header.header
              .header__logo
                .logo MC
              .header__menu
                nav.nav
                  - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="#").nav__link #{item}

              .header__links
                - var icons = ['inst', 'vk', 'github'];
                ul.socials__list
                  each item in icons
                    li.socials__item
                      a(href="#").socials__link
                        +icon(item, 'socials__icon')
            .hero__content
              .user-info
                h1.user-info__desc 
                    | Личный сайт <br/>
                    | веб-разработчика
                .user-info__username Максим Стогний
            .hero__btns
              a(href="#").scroll-down Скролл
        section.about
          //- +icon('inst', 'socials__icon')
      //- .maincontent
      //-   +image('content/user.jpg', 'user-pic')
      //-   .icon-bg